﻿.not-active-alert {
    display: none;
}

.alert {
    @include border-radius(5px);
    padding: 5px 15px;
}

.alert-danger {
    background: $color-danger-1 !important;
    border-color: $color-danger-2 !important;
    color: $color-danger-3 !important;
}

.alert-success {
    background: $color-success-1 !important;
    border-color: $color-success-2 !important;
    color: $color-success-3 !important;
}

.field-required {
    border-color: $color-danger-3 !important;
}
