﻿
/* Colores de la paleta verde */
$color-green-light-5: #f1f8e9;
$color-green-light-4: #dcedc8;
$color-green-light-3: #c5e1a5;
$color-green-light-2: #aed581;
$color-green-light-1: #9ccc65;

$balanced:  #33cd5f !default;

$color-green-dark-1: #7cb342;
$color-green-dark-2: #689f38;
$color-green-dark-3: #558b2f;
$color-green-dark-4: #33691e;

$color-green-accent-1: #ccff90;
$color-green-accent-2: #b2ff59;
$color-green-accent-3: #76ff03;
$color-green-accent-4: #64dd17;

$color-balanced-light-1: #59D67D;
$color-balanced-light-2: #92E4AA;
$color-balanced-light-3: #86E1A0;
$color-balanced-light-4: #6ADA8A;

$color-black: #000000;
$color-white: #FFFFFF;

$color-danger-1: #f2dede;
$color-danger-2: #ebccd1; 
$color-danger-3: #a94442;

$color-success-1: #dff0d8;
$color-success-2: #d6e9c6;
$color-success-3: #3c763d;




