﻿
@mixin border-radius($radius) {
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
    border-radius: $radius !important;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow rgba(0,0,0,0.75);
    -moz-box-shadow: $shadow rgba(0,0,0,0.75);
    -ms-box-shadow: $shadow rgba(0,0,0,0.75);
    box-shadow: $shadow rgba(0,0,0,0.75);
}

@mixin linear-gradient($deg, $color-light, $color-dark)
{
    background: -moz-linear-gradient($deg, $color-light 0%, $color-dark 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, $color-light), color-stop(100%, $color-dark));
    background: -webkit-linear-gradient($deg, $color-light 0%, $color-dark 100%);
    background: -o-linear-gradient($deg, $color-light 0%, $color-dark 100%);
    background: -ms-linear-gradient($deg, $color-light 0%, $color-dark 100%);
    background: linear-gradient($deg, $color-light 0%, $color-dark 100%);
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}