﻿
.col-logo {
    height: 30%;
}

.col-bar{
    margin-top: 10%;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

.row-login {
    h3 {
        color: $balanced;
    }

    a {
        color: $balanced;
    }
}

.col-offset-5 {
    margin-left: 5%;
}

