﻿.btnMD {  
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;  
  text-align: center; }

.btnMD-round-over {
  border-radius: 35px;
  position: absolute;
  bottom: 60%;
  right: 10%;
  width: 60px;
  height: 60px;
}

.btnMD .btnContent {
  font-size: 35px;
  top: 22%; }

.btnMD:hover, .btnMD:focus {
  background-color: #27ae60; }

.btnMD > * {
  position: relative; }

.btnMD span {
  display: block;
  padding: 12px 24px; }

.btnMD:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btnMD:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box; }

.btnMD.orange {
  background-color: #e67e22; }

.btnMD.orange:hover, .btnMD.orange:focus {
  background-color: #d35400; }

.btnMD.red {
  background-color: #e74c3c; }

.btnMD.red:hover, .btnMD.red:focus {
  background-color: #c0392b; }
