﻿.menu-background {
    background-color: $color-green-light-4;
}

.row-balanced {
    background: $color-balanced-light-1;
    @include linear-gradient(45deg, $color-balanced-light-1, $balanced);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-balanced-light-1', endColorstr='$balanced', GradientType=1 );
    border-bottom: $menu-border-bottom;
}

.photo-circle {
    @include border-radius(100px);
    @include box-shadow($menu-img-box-shadow);
    position: relative;
    width: 100px;
    height: 100px;
    background: $balanced;
}

.col-center {
    text-align: center;
    color: $color-white !important;
}

.item-menu {
    border-top: 0;
    background-color: $balanced;
    border-bottom: $menu-border-bottom;
    color: $color-white !important;

    .badge-green {
        background-color: $color-white;
        color: $balanced;
    }

    &:hover {
        background-color: $balanced;
        color: $color-green-accent-1 !important;

        .badge-green {
            background-color: $color-green-accent-1;
            color: $balanced;
        }
    }
}


/*--------------------------------------------------*/


.ItemsCard {
    position: relative;   
    display: inline-block;
    padding: 0px 22px 10px 22px;
    width: 33%;
    border-radius: 4px;
    list-style: none;    
    cursor: pointer;
}

.SubItemsCard {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 0px 22px 5px 22px;
    width: 100%;
    border-radius: 4px;
    list-style: none;
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    cursor: pointer;
}

.SubItemCard2 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}