﻿.box-search {
    @include border-radius(0);
    width: 100%;
    background-color: $balanced;
    border-bottom: $search-border-bottom !important;
    margin-right: 5%;

    .box-ph {
        @include placeholder {
            color: $color-green-accent-1;
        }

        width: 100%;
        background-color: $balanced;
        color: $color-green-accent-1;
    }
}

.icon-color {
    color: $color-green-accent-1 !important;
}

.font-color {
    color: $color-green-accent-1 !important;
}

.animate-enter {
	-webkit-transition: 1s linear all; 
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}