﻿.tab-balanced-light {
    border-top: $tab-border-top;
    background-color: $color-green-light-4;
    color: $balanced;

    a {
        color: $balanced;

        &:active {
            color: $color-green-dark-4;
        }

        &:hover {
            color: $color-green-dark-1;
        }
    }

    a.tab-active{
        color: $color-green-dark-4;

        &:active {
            color: $color-green-dark-4;
        }

        &:hover {
            color: $color-green-dark-4;
        }
    }
}

.padding-tab-icon {
    padding: 5px;
}

.navigateTabTop .tabs{
        height: 25px;
}

.navigateTabTop .has-tabs-top{
        top: 70px;
}