﻿$search-border-bottom: $color-green-accent-1 solid  thin !default;
$tab-border-top: $color-green-light-4 solid thin !default;

$menu-border-bottom: $color-green-accent-1 solid 3px !default;
$menu-img-box-shadow: 0px 3px 5px 0px;