<ion-view view-title="Event_Details">
    <ion-content class="padding">
        <div class="DetailEvent">
         
                    <div class="item item-avatar">
                        <h2>{{cardserv.Creador}}</h2>
                        <p>{{cardserv.fecha}}</p>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" ng-src="{{cardserv.ImgFront}}">
                        <p>
                            {{cardserv.ResumeTxt}}
                        </p>
                        
                    </div>
                    <div class="button-bar" ng-controller="popUpCommentsController">
                        <a class="ItemsCard" ng-click = "openModal()">
                            <div class="SubItemsCard ion-ios-chatboxes balanced"></div>
                            <div class="SubItemCard2 balanced">456456</div>
                        </a>
                        <a class="ItemsCard" ng-click="showPopup()">
                            <div class="SubItemsCard ion-thumbsup balanced"></div>
                            <div class="SubItemCard2 balanced">456</div>
                        </a>
                        <a class="ItemsCard">
                            <div class="SubItemsCard ion-android-walk balanced"></div>
                            <div class="SubItemCard2 balanced">894</div>
                        </a>
                    </div>
                    <p class="partBottCard"></p>
                   
        </div>
    </ion-content>
</ion-view>