﻿<ion-content ng-controller="loginCtrl">
    <div class="row row-login">
        <div class="col col-100 col-center col-logo">
            <!-- Solo temporal -->
            <img src="https://s31.postimg.org/d2el5vlwb/event.png" style="width: 100%; margin-top: 25%;" />
        </div>
    </div>
    <div class="row row-login">
        <div class="col col-80 col-offset-10 col-left">
            <h3></h3>
        </div>
    </div>
    <div class="row row-login">
        <div class="col col-80 col-offset-10">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="{{ 'LOGIN_USERNAME_PLACEHOLDER' | translate }}" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{ 'LOGIN_PASSWORD_PLACEHOLDER' | translate }}" ng-model="data.password">
                </label>
            </div>
        </div>
    </div>
    <div class="row row-login">
        <div class="col col-80 col-offset-10 col-center">
            <div class="row">
                <div class="col col-50 col-left">
                    <a ng-click="openRegister()">{{ 'LOGIN_REGISTER_TEXT' | translate }}</a>
                </div>
                <div class="col col-50 col-right">
                    <a ng-click="openForgotPassword()">{{ 'LOGIN_FORGOT_PASSWORD_TEXT' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-login">
        <div class="col col-80 col-offset-10">
            <button class="button button-block button-balanced" ng-click="login(data)">
                {{ 'LOGIN_LOGIN_BUTTON_TEXT' | translate }}
            </button>
        </div>
    </div>
    <div class="row row-login">
        <div class="col col-80 col-offset-10">
            <button class="button icon-left ion-social-facebook button-block button-positive" ng-click="loginWithFacebook()">
                {{ 'LOGIN_LOGIN_BUTTON_FACEBOOK_TEXT' | translate }}
            </button>
        </div>
    </div>
</ion-content>

<!-- Register -->
<script id="templates/register.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
            <h1 class="title">{{ 'LOGIN_REGISTER_TITLE_BAR' | translate }}</h1>
            <a class="button button-icon icon ion-android-close"  ng-click="closeRegister(); formUserRegister.$setPristine();"></a>
        </ion-header-bar>
        <div class="row">
            <div class="col col-bar">

            </div>
        </div>
        <form name="formUserRegister" id="formUserRegister" ng-submit="register(); formUserRegister.$setPristine();" novalidate>
            <div class="row">
                <div class="col col-100">
                    <div id="listRegister" class="list">
                        <label class="item item-input item-floating-label" ng-class="formUserRegister.username.$invalid && 
                               formUserRegister.username.$dirty ? 'field-required' : ''">
                            <span class="input-label">{{ 'LOGIN_REGISTER_USERNAME_TEXT' | translate }}</span>
                            <input id="txtUsername" name="username" type="text" placeholder="{{ 'LOGIN_REGISTER_USERNAME_PLACEHOLDER' | translate }}" 
                                   ng-model="register.username" required>
                        </label>
                        <label class="item item-input item-floating-label" ng-class="formUserRegister.email.$invalid && 
                               formUserRegister.email.$dirty ? 'field-required' : ''">
                            <span class="input-label">{{ 'LOGIN_REGISTER_EMAIL_TEXT' | translate }}</span>
                            <input id="txtEmail" name="email" type="email" placeholder="{{ 'LOGIN_REGISTER_EMAIL_PLACEHOLDER' | translate }}" 
                                   ng-model="register.email"  required>
                        </label>
                        <label class="item item-input item-floating-label" ng-class="formUserRegister.password.$invalid &&
                               formUserRegister.password.$dirty ? 'field-required' : ''">
                            <span class="input-label">{{  'LOGIN_REGISTER_PASSWORD_TEXT' | translate }}</span>
                            <input id="txtPassword" name="password" type="password" placeholder="{{ 'LOGIN_REGISTER_PASSWORD_PLACEHOLDER' | translate }}" 
                                   ng-model="register.password" required>
                        </label>
                        <label class="item item-input item-floating-label" ng-class="formUserRegister.passwordRepeat.$invalid && 
                               formUserRegister.passwordRepeat.$dirty ? 'field-required' : ''">
                            <span class="input-label">{{ 'LOGIN_REGISTER_REPEAT_PASSWORD_TEXT' | translate }}</span>
                            <input id="txtRepeatPassword" name="passwordRepeat" type="password" placeholder="{{ 'LOGIN_REGISTER_REPEAT_PASSWORD_PLACEHOLDER' | translate }}" 
                                   ng-model="register.repeatPassword" required>
                        </label>
                    </div>
                </div>
            </div>
            <div id="alertRegister" class="row not-active-alert">
                <div class="col col-100">
                    <div class="alert alert-danger">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-90 col-offset-5">
                    <button class="button button-block button-balanced" type="submit" ng-disabled="formUserRegister.username.$invalid || 
                            formUserRegister.email.$invalid || formUserRegister.password.$invalid || formUserRegister.passwordRepeat.$invalid">
                        {{ 'LOGIN_REGISTER_BUTTON_TEXT' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </ion-modal-view>
</script>

<!-- Forgot Password -->
<script id="templates/forgotPassword.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
            <h1 class="title">{{ 'LOGIN_FORGOT_PASSWORD_BAR_TITLE' | translate }}</h1>
            <a class="button button-icon icon ion-android-close" ng-click="closeForgotPassword(); formStep1.$setPristine();"></a>
        </ion-header-bar>
        <div class="row"><div class="col col-bar"></div></div>
        
        <div id="rowStep1" ng-show="step === 'send'">
            <form name="formStep1" ng-submit="onStep(); formStep2.$setPristine();" novalidate>
                <div class="row">
                    <div class="col col-100">
                        <div class="list">
                            <label class="item item-input item-floating-label" ng-class="formStep1.email.$invalid && 
                                   formStep1.email.$dirty ? 'field-required' : ''">
                                <span class="input-label">{{ 'LOGIN_FORGOT_PASSWORD_EMAIL_TEXT' | translate }}</span>
                                <input id="txtEmail" name="email" type="email" placeholder="{{ 'LOGIN_FORGOT_PASSWORD_EMAIL_PLACEHOLDER' | translate }}" 
                                       ng-model="send.email" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <button class="button button-block button-balanced" type="submit" ng-disabled="formStep1.email.$invalid">
                            {{ 'LOGIN_FORGOT_PASSWORD_SEND_BUTTON_TEXT' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="rowStep2" ng-show="step === 'validate'">
            <form name="formStep2" ng-submit="onStep(); formStep3.$setPristine();" novalidate>
                <div class="row">
                    <div class="col col-100">
                        <div class="list">
                            <label class="item item-input item-floating-label" ng-class="formStep2.code.$invalid && 
                                   formStep2.code.$dirty ? 'field-required' : ''">
                                <span class="input-label">{{ 'LOGIN_FORGOT_PASSWORD_CODE_TEXT' | translate }}</span>
                                <input id="txtCode" name="code" type="text" placeholder="{{ 'LOGIN_FORGOT_PASSWORD_CODE_PLACEHOLDER' | translate }}" 
                                       ng-model="validate.code" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <button class="button button-block button-balanced" type="submit" ng-disabled="formStep2.code.$invalid">
                            {{ 'LOGIN_FORGOT_PASSWORD_VALIDATE_BUTTON_TEXT' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="rowStep3" ng-show="step === 'change'">
            <form name="formStep3" ng-submit="onStep(); formStep1.$setPristine();" novalidate>
                <div class="row">
                    <div class="col col-100">
                        <div class="list">
                            <label class="item item-input item-floating-label" ng-class="formStep3.newPassword.$invalid && 
                                   formStep3.newPassword.$dirty ? 'field-required' : ''">
                                <span class="input-label">{{ 'LOGIN_FORGOT_PASSWORD_PASSWORD_TEXT' | translate }}</span>
                                <input id="txtNewPassword" name="newPassword" type="password" placeholder="{{ 'LOGIN_FORGOT_PASSWORD_PASSWORD_PLACEHOLDER' | translate }}" 
                                       ng-model="change.newPassword" required>
                            </label>
                            <label class="item item-input item-floating-label" ng-class="formStep3.repeatPassword.$invalid && 
                                   formStep3.repeatPassword.$dirty ? 'field-required' : ''">
                                <span class="input-label">{{ 'LOGIN_FORGOT_PASSWORD_REPEAT_PASSWORD_TEXT' | translate }}</span>
                                <input id="txtRepeatPassword" name="repeatPassword" type="password" placeholder="{{ 'LOGIN_FORGOT_PASSWORD_REPEAT_PASSWORD_PLACEHOLDER' | translate }}" 
                                       ng-model="change.repeatPassword" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <button class="button button-block button-balanced" type="submit" ng-disabled="formStep3.newPassword.$invalid || 
                                formStep3.repeatPassword.$invalid">
                            {{ 'LOGIN_FORGOT_PASSWORD_CHANGE_BUTTON_TEXT' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-modal-view>
</script>