﻿<ion-view view-title="Mapa" class="tabMapa">
    
    <ion-content>
        <!--<div class="bar bar-header bar-light">
            <h1 class="title" id="geolocation">bar-light</h1>
        </div>-->
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
</ion-view>
