<ion-view ng-controller="DashCtrl">
    <ion-content class="itemCardDash">
        <div class="list card">
            <ion-list>
                <ion-item ng-repeat="cardserv in CardService">

                    <div class="item item-avatar">
                        <h2>{{cardserv.Creador}}</h2>
                        <p>{{cardserv.fecha}}</p>
                    </div>
                    <div class="item item-body" >
                        <img class="full-image" ng-src="{{cardserv.ImgFront}}">
                        <div style="width:100%; height:70px; position:absolute;" >
                            <a class="btnMD btnMD-round-over" href="#/tabIndex/tab/home/eventDetail">
                                <div class="btnContent ion-android-arrow-forward"></div>
                            </a>
                        </div>                        
                        <p>
                            {{cardserv.ResumeTxt}}
                        </p>
                        
                    </div>
                    <div class="button-bar" ng-controller="popUpCommentsController">
                        <a class="ItemsCard" ng-click = "openModal()">
                            <div class="SubItemsCard ion-ios-chatboxes balanced"></div>
                            <div class="SubItemCard2 balanced">456456</div>
                        </a>
                        <a class="ItemsCard" ng-click="showPopup()">
                            <div class="SubItemsCard ion-thumbsup balanced"></div>
                            <div class="SubItemCard2 balanced">456</div>
                        </a>
                        <a class="ItemsCard">
                            <div class="SubItemsCard ion-android-walk balanced"></div>
                            <div class="SubItemCard2 balanced">894</div>
                        </a>
                    </div>
                    <p class="partBottCard"></p>
                    <!--<p class="partBottCard">
        <a href="#" class="subdued"><label class="ion-ios-chatboxes"></label> 1</a>
        <a href="#" class="subdued"><label class="ion-thumbsup"></label> 5</a>
    </p>-->


                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>