<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="maca tabs-icon-top tabs-stable">
    <ion-tab title="Mapa" href="#/tab/mapa">
      <ion-nav-view name="tab-mapa" ></ion-nav-view>
    </ion-tab>
    <ion-tab title="Calendario" href="#/tab/DatePicker">
        <ion-nav-view name="tab-DatePicker"></ion-nav-view>
    </ion-tab>
    <!--<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash">Back</a>-->
</ion-tabs>
