/* Variables */
/* Colores de la paleta verde */
/* Funciones */
/* Componentes */
.not-active-alert {
  display: none; }

.alert {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 5px 15px; }

.alert-danger {
  background: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important; }

.alert-success {
  background: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  color: #3c763d !important; }

.field-required {
  border-color: #a94442 !important; }

.box-search {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  background-color: #33cd5f;
  border-bottom: #ccff90 solid thin !important;
  margin-right: 5%; }
  .box-search .box-ph {
    width: 100%;
    background-color: #33cd5f;
    color: #ccff90; }
    .box-search .box-ph::-webkit-input-placeholder {
      color: #ccff90; }
    .box-search .box-ph:-moz-placeholder {
      color: #ccff90; }
    .box-search .box-ph::-moz-placeholder {
      color: #ccff90; }
    .box-search .box-ph:-ms-input-placeholder {
      color: #ccff90; }

.icon-color {
  color: #ccff90 !important; }

.font-color {
  color: #ccff90 !important; }

.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0; }

.animate-enter.animate-enter-active {
  opacity: 1; }

.tab-balanced-light {
  border-top: #dcedc8 solid thin;
  background-color: #dcedc8;
  color: #33cd5f; }
  .tab-balanced-light a {
    color: #33cd5f; }
    .tab-balanced-light a:active {
      color: #33691e; }
    .tab-balanced-light a:hover {
      color: #7cb342; }
  .tab-balanced-light a.tab-active {
    color: #33691e; }
    .tab-balanced-light a.tab-active:active {
      color: #33691e; }
    .tab-balanced-light a.tab-active:hover {
      color: #33691e; }

.padding-tab-icon {
  padding: 5px; }

.navigateTabTop .tabs {
  height: 25px; }

.navigateTabTop .has-tabs-top {
  top: 70px; }

.menu-background {
  background-color: #dcedc8; }

.row-balanced {
  background: #59D67D;
  background: -moz-linear-gradient(45deg, #59D67D 0%, #33cd5f 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #59D67D), color-stop(100%, #33cd5f));
  background: -webkit-linear-gradient(45deg, #59D67D 0%, #33cd5f 100%);
  background: -o-linear-gradient(45deg, #59D67D 0%, #33cd5f 100%);
  background: -ms-linear-gradient(45deg, #59D67D 0%, #33cd5f 100%);
  background: linear-gradient(45deg, #59D67D 0%, #33cd5f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-balanced-light-1', endColorstr='$balanced', GradientType=1 );
  border-bottom: #ccff90 solid 3px; }

.photo-circle {
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  width: 100px;
  height: 100px;
  background: #33cd5f; }

.col-center {
  text-align: center;
  color: #FFFFFF !important; }

.item-menu {
  border-top: 0;
  background-color: #33cd5f;
  border-bottom: #ccff90 solid 3px;
  color: #FFFFFF !important; }
  .item-menu .badge-green {
    background-color: #FFFFFF;
    color: #33cd5f; }
  .item-menu:hover {
    background-color: #33cd5f;
    color: #ccff90 !important; }
    .item-menu:hover .badge-green {
      background-color: #ccff90;
      color: #33cd5f; }

/*--------------------------------------------------*/
.ItemsCard {
  position: relative;
  display: inline-block;
  padding: 0px 22px 10px 22px;
  width: 33%;
  border-radius: 4px;
  list-style: none;
  cursor: pointer; }

.SubItemsCard {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 0px 22px 5px 22px;
  width: 100%;
  border-radius: 4px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer; }

.SubItemCard2 {
  text-align: center;
  font-weight: normal;
  font-size: 14px; }

.col-logo {
  height: 30%; }

.col-bar {
  margin-top: 10%; }

.col-left {
  text-align: left; }

.col-right {
  text-align: right; }

.row-login h3 {
  color: #33cd5f; }
.row-login a {
  color: #33cd5f; }

.col-offset-5 {
  margin-left: 5%; }

#map {
  width: 100%;
  height: 99%; }

.tabMapa .has-tabs-top {
  top: 44px !important; }

.onezone-datepicker {
  max-height: 600px !important;
  border-bottom: 2px solid #ECECEC;
  margin-top: 50px; }

.onezone-datepicker-modal-item {
  line-height: 30px !important; }

.btnMD {
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
  text-align: center; }

.btnMD-round-over {
  border-radius: 35px;
  position: absolute;
  bottom: 60%;
  right: 10%;
  width: 60px;
  height: 60px; }

.btnMD .btnContent {
  font-size: 35px;
  top: 22%; }

.btnMD:hover, .btnMD:focus {
  background-color: #27ae60; }

.btnMD > * {
  position: relative; }

.btnMD span {
  display: block;
  padding: 12px 24px; }

.btnMD:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btnMD:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box; }

.btnMD.orange {
  background-color: #e67e22; }

.btnMD.orange:hover, .btnMD.orange:focus {
  background-color: #d35400; }

.btnMD.red {
  background-color: #e74c3c; }

.btnMD.red:hover, .btnMD.red:focus {
  background-color: #c0392b; }

/*# sourceMappingURL=personalised.css.map */
