﻿<html ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Eventos</title>

    <!-- Estilos -->
    <link href="css/ionic.css" rel="stylesheet" />
    <link href="css/ionicons.css" rel="stylesheet" />
    <link href="css/personalised.css" rel="stylesheet" />
    
    <!-- Angular -->
    <script src="scripts/ionic.bundle.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBLFyKGG8ql4zTmvzlJan6bQb1UnVOEyfc&sensor=true"></script>
    <!-- Idiomas -->
    <script src="scripts/translate/es.js"></script>
    <!-- Configuracion -->
    <script src="scripts/app.js"></script>
    <!-- Servicios -->
    <script src="scripts/services/services.js"></script>
    <script src="scripts/services/serviceAuthentication.js"></script>
    <script src="scripts/services/serviceSearch.js"></script>
    <script src="scripts/services/serviceCards.js"></script>
    <!-- Controladores -->
    <script src="scripts/Controllers/controllers.js"></script>
    <script src="scripts/Controllers/searchController.js"></script>
    <script src="scripts/Controllers/loginController.js"></script>
    <script src="scripts/Controllers/dashController.js"></script>
    <script src="scripts/Controllers/chatsController.js"></script>
    <script src="scripts/Controllers/locationController.js"></script>
    <script src="scripts/Controllers/datePickerController.js"></script>
    <script src="scripts/Controllers/commentsController.js"></script>

    <!-- Codigo de los plugins -->
    <script src="scripts/Plugins/onezone-datepicker.min.js"></script>
</head>
<body ng-controller="MainCtrl">
    <ion-nav-view>
        <script id="templates/home.html" type="text/ng-template">
            <ion-side-menus>
                <ion-side-menu-content ng-controller="SearchCtrl">
                    <!-- Header -->
                    <ion-header-bar class="bar bar-header item-input-inset bar-balanced">
                        <button class="button icon button-clear ion-navicon-round icon-color" ng-click="toggleLeft()"></button>
                        <div class="item-input-wrapper box-search">
                            <i class="icon ion-search placeholder-icon icon-color"></i>
                            <input type="text" placeholder="{{ 'INDEX_BAR_SEARCH_PLACEHOLDER' | translate }}" id="tbxHeaderSearch" class="box-ph" ng-model="query.strQuery" ng-keyup="keyPressSearch()" />
                            <a ng-click="cancelSearch()" class="icon button-clear ion-close-round icon-color" ng-hide="query.strQuery.length == 0" ng-show="query.strQuery.length > 0"></a>
                        </div>
                        <img src="png/icono.png" />
                    </ion-header-bar>
                    <!-- // Header -->
                    <!-- Resultados de la busqueda -->
                    <ion-list id="listSearchResult" ng-style="visible">
                        <ion-item ng-repeat="searchEvent in searchEvents | filter:query.strQuery" class="item item-avatar">
                            <img ng-src="{{ searchEvent.image }}">
                            <h2>{{searchEvent.event}}</h2>
                            <p>{{searchEvent.date}}</p>
                        </ion-item>
                    </ion-list>
                    <!-- // Resultado de la busqueda -->

                    <ion-nav-view class="navigateTabTop">
                    </ion-nav-view>

                    <div class="tabs tabs-icon-top tab-balanced-light">
                        <a class="tab-item" href="#/tabIndex/tab2/mapa" ng-click="hideTop=true">
                            <i class="icon ion-earth padding-tab-icon"></i>
                        </a>
                        <a class="tab-item" href="#/tabIndex/tab2/DatePicker" ng-click="hideTop=true">
                            <i class="icon ion-calendar padding-tab-icon"></i>
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox padding-tab-icon"></i>
                        </a>
                        <a class="tab-item" href="#/tabIndex/tab/home" ng-click="hideTop=false">
                            <i class="icon ion-home padding-tab-icon"></i>
                        </a>
                    </div>

                </ion-side-menu-content>
                <!-- Menu Lateral -->
                <ion-side-menu side="left" class="menu-background ">
                    <ion-list>
                        <div class="row responsive-sm row-balanced">
                            <div class="col col-center">
                                <img src="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12599274_238150479871430_574436842_n.jpg?ig_cache_key=MTE5MzQ2OTg4MTE2MTE4MTIxMA%3D%3D.2" class="photo-circle" />
                            </div>
                            <div class="col col-center">
                                {{ username }}
                            </div>
                        </div>
                        <a class="item item-icon-left item-menu" href="#">
                            <i class="icon ion-plus"></i>
                            {{ 'INDEX_SIDE_MENU_NEW_EVENT_TEXT' | translate }}
                        </a>
                        <a class="item item-icon-left item-menu" href="#">
                            <i class="icon ion-person-stalker"></i>
                            {{ 'INDEX_SIDE_MENU_FRIENDS_TEXT' | translate }}
                            <span class="badge badge-green">17</span>
                        </a>
                        <a class="item item-icon-left item-menu" href="#">
                            <i class="icon ion-settings"></i>
                            {{ 'INDEX_SIDE_MENU_CONFIG_TEXT' | translate }}
                        </a>
                        <a class="item item-icon-left item-menu" href="#">
                            <i class="icon ion-help"></i>
                            {{ 'INDEX_SIDE_MENU_HELP_TEXT' | translate }}
                        </a>
                        <a class="item item-icon-left item-menu" href="" ng-click="logout()">
                            <i class="icon ion-lock-combination"></i>
                            {{ 'INDEX_SIDE_MENU_LOGOUT_TEXT' | translate }}
                        </a>
                    </ion-list>
                </ion-side-menu>
            </ion-side-menus>
        </script>
    </ion-nav-view>
</body>
</html>